<%
    for (var key=0; key<feeds.length;key++) {
        var feed = feeds[key];
        var date = new Date(feed.date);
        var date_str = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
%>
<div class="item-wrapper" id="feed_item_<%=feed.id%>">
    <div class="item-cmd">
        <table>
            <tr>
                <td>Name:</td>
                <td><%=feed.name%></td>
            </tr>
            <tr class="odd">
                <td>Taken:</td>
                <td><%=date_str%></td>
            </tr>
            <tr >
                <td>Point name:</td>
                <td><%=feed.point%></td>
            </tr>
            <tr class="odd">
                <td>Status:</td>
                <td>
                    <select style="width: 150px;" onchange="updateFeed('<%=feed.id%>', 'status', this.value)" >
                        <option value="pending"  <%= feed.status == 'pending'? 'selected="true"' : ''%>>Pending</option>
                        <option value="approved" <%= feed.status == 'approved'? 'selected="true"' : ''%>>Approved</option>
                        <option value="archived" <%= feed.status == 'archived'? 'selected="true"' : ''%>>Archived</option>
                        <option value="flagged"  <%= feed.status == 'flagged'? 'selected="true"' : ''%>>Flagged</option>
                    </select>
                </td>
            </tr>
            <tr class="odd">
                <td>Favourite:</td>
                <td>
                    <div class="star <%= feed.promo == true ? 'active' : ''%>" title="<%= feed.promo == true ? 'Remove from favourites' : 'Add to favourites'%>" onclick="updateFeed('<%=feed.id%>', 'promo', '<%= feed.promo == true ? 'false' : 'true'%>')"></div>
                </td>
            </tr>
            <tr class="btn-holder">
                <td c style="text-align: center;" colspan="2">
                    <% if(feed.published == true ){ %>
                        <button class="btn btn-success publish" type="button" onclick="updateFeed('<%=feed.id%>', 'publish', true);">Publish</button>
                    <% } else {%>
                        <span class="btn disabled">Published</span>
                    <% }%>
                </td>
            </tr>
        </table>
    </div>
    <div class="item-data">
        <div class="photo" style="text-align: center" id="photo_<%= key %>"><img src="/public/review/<%=feed.id%>/photo" alt="foto" title="Foto"/></div>
        <div class="description"><%= feed.message %></div>
    </div>
</div>
<%
    }
%>
