<% 
    for (var i=0, len=reviews.length ; i<len ;++i ) {
    var review = reviews[i];
%>
<div class="item-wrapper" review-id="<%=review.id%>" company-id="<%=review.companyId%>" >
    <div class="item-cmd">
        <table>
            <tr><td>Author:</td><td><%=review.name%></td></tr>
            <tr class="odd"><td>Taken:</td><td><%=review.date%></td></tr>
            <tr><td>Point name:</td><td><%=review.point%></td></tr>
            <tr class="odd">
                <td>Status:</td>
                <td>
                    <select style="width: 100px;">
                        <option <%= review.status =='PENDING' ? 'selected="selected"' : '' %>  value="PENDING">Pending</option>
                        <option <%= review.status =='APPROVED' ? 'selected="selected"' : '' %> value="APPROVED">Approved</option>
                        <option <%= review.status =='ARCHIVED' ? 'selected="selected"' : '' %>value="ARCHIVED">Archived</option>
                        <option <%= review.status =='FLAGGED' ? 'selected="selected"' : '' %> value="FLAGGED">Flagged</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Favourite:</td>
                <td>
                    <div class="star <%= review.promo == true ? 'active' : ''%>" title="<%= review.promo == true ? 'Remove from favourites' : 'Add to favourites'%>" onclick="updateFeed('<%=review.id%>', 'promo', '<%= review.promo == true ? 'false' : 'true'%>')"></div>
                </td>
            </tr>
            <tr class="btn-holder">
                <td style="text-align: center;" colspan="2">
                    <% if(review.published != true ){ %>
                        <button class="btn btn-success publish" type="button">Publish</button>
                    <% } else {%>
                        <span class="btn disabled">Published</span>
                    <% }%>
                </td>
            </tr>
        </table>
    </div>
    <div class="item-data">
        <div class="photo"><img src="<%=review.photo%>" /></div>
        <div class="description"><%=review.message%></div>
        
    </div>
</div>
<% 
    }
%>
         