<%
    for (var key=0; key<photos.length;key++) {
        var photo = photos[key];
        photo.active = key%2==0 ? 'true' : 'false';
%>
<div class="item-wrapper photo" id="photo_item_<%=photo.id%>" style="height: 330px;">
    <div class="item-data">
        <div class="photo" style="text-align: center" id="photo_<%= key %>"><img src="/public/review/<%=photo.id%>/photo" alt=""/></div>
        <div class="description btn-holder" style="text-align: center;">
            <button style="width: 120px; height: 32px;" type="button" class="btn <%= photo.active == 'false'? 'btn-success' : 'btn-info'%> publish" ><%= photo.active == 'false'? 'Activate' : 'Deactivate'%></button>
        </div>
    </div>
</div>
<%
    }
%>