<%
    for (var key=0; key<feeds.length;key++) {
        var feed = feeds[key];
        var date = new Date(feed.date);
        var date_str = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
%>
<div class="item-wrapper" id="feed_item_<%=feed.id%>">
    <div class="item-cmd">
        <table>
            <tr>
                <td>Name:</td>
                <td><%=feed.name%></td>
            </tr>
            <tr class="odd">
                <td>Taken:</td>
                <td><%=date_str%></td>
            </tr>
            <tr>
                <td>Point name:</td>
                <td><%=feed.point%></td>
            </tr>
        </table>
    </div>
    <div class="item-data">
        <div class="photo" style="text-align: center" id="photo_<%= key %>"><img src="/public/review/<%=feed.id%>/photo" alt=""/></div>
        <div class="description"><%= feed.message %></div>
    </div>
</div>
<%
    }
%>
