<%
    for (var key=0; key<feeds.length;key++) {
        var feed = feeds[key];
        var date = new Date(feed.date);
        var date_str = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
%>
<div class="item-wrapper" id="feed_item_<%=feed.id%>">
    <div class="item-cmd">
        <table>
            <tr class="odd">
                <td>Taken:</td>
                <td><%=date_str%></td>
            </tr>
            <tr>
                <td>Point name:</td>
                <td><%=feed.point%></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><%=feed.status%></td>
            </tr>
            <tr>
                <td>Shared On:</td>
                <td>
                    <% if (feed.active) { %>
                        <div class="social-icon fb"></div>
                        <div class="social-icon vk"></div>
                    <% } %>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr class="btn-holder">
                <td style="text-align: center;" colspan="2">
                    <button class="btn btn-info publish" type="button" onclick="editFeedDialog('<%= feed.id %>', '<%= feed.message %>')">Edit</button>
                    <button class="btn <%=feed.status != 'approved'? 'btn-success' : 'disabled' %> publish" type="button" onclick="removeReview(<%= feed.id %>);" style="margin-left: 20px">Remove</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="item-data">
        <div class="photo" style="text-align: center" id="photo_<%= key %>"><img src="/public/review/<%=feed.id%>/photo" alt=""/></div>
        <div class="description"><%= feed.message %></div>
    </div>
</div>
<%
    }
%>
